.s_parrafo{
  text-align: justify !important;
}
.col-center{
    float: none;
    margin: 0 auto;
}

.obligatorio::after{
    font: initial;
    font-size: unset;
    content: ' *';
}
.loading_nexos {
  width: 100%;
  height: 100%;
  background: url(../../img/cargando.gif) center center no-repeat;
  background-size: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2) !important;
  z-index: 100000;
}
.required_nexos{
    height: 35px;
    width: 150px;
    background: url(../../img/requerido.png) left top no-repeat;
    background-color: rgba(0, 0, 0, 0) !important;
    background-size: 75%;
    z-index: 1000000;
    position: absolute;
}
.editImg {
  cursor: pointer;
  width: 100%;
  height: 20px;
  background: url(../../img/edit.png) center center no-repeat;
  background-size: 20px;
  
}
.activarImg {
  cursor: pointer;
  width: 100%;
  height: 20px;
  background: url(../../img/activar.png) center center no-repeat;
  background-size: 20px;
  
}
.inactivarImg {
  cursor: pointer;
  width: 100%;
  height: 20px;
  background: url(../../img/delete.png) center center no-repeat;
  background-size: 20px;  
}

.titleAlert { 
    position: relative;
    background: #fff;
    overflow: hidden;
    text-align: center;  
}
.titleAlert:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:1;
    opacity: 0.5;
    background-image: url(../../img/title.png) ;
  
}

input[type=text],[type=search],[type=password], select{
	border-radius: 4px !important;
}

.descaragarDoc{
  cursor: pointer;
  width: 100%;
  height: 20px;
  background: url(../../img/download_file.png) center center no-repeat;
  background-size: 20px;

}

.visualizarDoc{
  cursor: pointer;
  width: 100%;
  height: 20px;
  background: url(../../img/text_document.png) center center no-repeat;
  background-size: 20px;

}

.modal.modal-wide .modal-dialog {
    width: 90% !important;
}
.class-notification{
    background: red;
    color: white;
    font-weight: 700;
    font-size: 5px;
    border-radius: 100%;
    height: 8px;
    width: 8px;
}
    
.calssNumber{
    width: 100%;
    text-align: right !important;
}

.class_val_puntos{
    background: #87bbf340;
    border-radius: 20px;
}

.class_val_dinero{
    background: #30de5540;
    border-radius: 20px;
}

fieldset{
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;       
	position: relative;
	border-radius:4px;
	/*background-color:#f5f5f5;*/
	padding-left:10px!important;
}	

legend{
	font-size:14px !important;
	font-weight:bold;
	margin-bottom: 0px; 
	width: 35%; 
	border: 0px !important;
	border-radius: 4px; 
	padding: 5px 5px 5px 10px !important; 
	background-color: transparent;
	width: auto !important;
	border-bottom: 0px !important;
}

.logo-vd{
width: 300px;
  margin-top: -25px;
}

.header-vd{
height: 150px !important;
background:  #eee !important;
}

.nav-link{
text-transform: none !important;
width: 100%;
}

.campo-vd{
  border-radius: 5px !important;
  /*background-image: none !important;*/
  height: 30px !important;
  padding: 10px !important;
  border: 1px solid #d2d2d2 !important;
  margin-top: 5px !important;
  background: #FFFF;
  font-size: 15px !important;
}

.campo-vd-sm{
  border-radius: 20px !important;
  background-image: none !important;
  height: auto !important;
  padding: 7px !important;
  margin-top: 5px !important;
  background: #FFFF !important;
}

.add_icon{
    margin-top: 23px;
    cursor: pointer;
    width: 36px;
    height: 30px;
}
.icon_tabla{
    cursor: pointer;
    width: 17px;
    height: 17px;
}

.lista-vd{
    border-radius: 5px !important;
    background-image: none !important;
    height: 30px !important;
    padding: 0px;
    border: 1px solid #d2d2d2;
    margin-top: 5px;
    background: #FFFF;
}

.class-pesos::before{
    content: '$ '; 
    text-align:right;
}

.class-pesos{
    text-align:right;
}

.class-numero{
    text-align:right;
}

.class-center{
    text-align:center;
}
.card-title{
    margin-bottom: -20px !important;
    margin-top: -1.375rem !important;
}

@media (max-width: 576px) { /*dispositovs estra pequeños mobiles*/
  

}

@media ( min-width: 576px) and ( max-width: 768px) { /*dispositovs medianos tables*/
  
}

@media (min-width: 768px) { /*tables para arriba*/  
    .modal-xl {    width: 90%;   max-width:1200px;  }    
}

@media (min-width: 992px){ /*para pantallas de escritorio*/   
 
}

/*argis*/
 html,body,#viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
 }

 .bs-searchbox input{
   height: 2em !important;
 }

 .btn_image{
    width: 25px;
    cursor: pointer;
}

.center_th{
  text-align: center;
}

#form_inicio_session{
  padding: 10px 10px 10px 10px !important;
}

form label{
  margin-left: 5px !important;
} 

.modal-header {
    display: block !important;
    background: #388e3c;
}

/*#mapContainer {
  height: 500px !important; 
  margin-top: -30px !important; 
}*/

.default-color{
  background: transparent !important;
}

.navbar-dark .navbar-brand{
    color: #8c8989 !important;
}

li a{
  color: #8c8989 !important;
}

.circle-menu {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0,0,0,.1);
  background: rgba(0,0,0,.05);
  margin-left: 5px;
  padding: 0;
  text-align: center;
  font-size: .7rem;
}

a.circle-menu>.fa {
font-size: 1.250em;
line-height: 2em;
padding: 0;
size: b5;
}

a.circle-menu>.text {
    display: none;
}

.oculta_elemnt{
    display: none;
}

.display-conten{
    display: contents;
}

.menu-circle-collase{
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.03);
    padding: 3px;
    border-radius: 40px;
}

.circle-mrigth{
    margin-right: 3px !important;
}

/*file input*/
.input-group-btn{
  height:  52px !important;
}

.file-caption{
  display: none;
}
.file-drop-zone{
  height: 300px !important;
}
.kv-file-zoom{
  border-color: white !important;
}
.fa-search-plus{
    color: #4285f4 !important;
}
.btn-outline-secondary {
    border: 2px solid  white !important;   
    color: #4285f4!important; 
}

.btn-outline-secondary:hover{
   border: 2px solid  white !important;   
   color: #4285f4 !important;

}
/*fin file input*/

.btn-primary {
    background-color: #388e3c!important;
    color: #fff;
}

.modal-title{
    color: #FFFFFF;
    font-weight: 400;
}

.menu-var-sibica{
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 15px;
}

.menu-var-content-sibica{
    background: white;
    margin-bottom: 20px;
}

.menu-var-content-sibica ul{
    margin: 2px;
}

.quit-menu-var{
    display: none !important;
}

.frm-reporte-irregular label{
    font-weight: 700;
}

/*.modal-dialog, .modal-content {*/
  .dialog_modal, .content_modal{
    /* 80% of window height */
    height: 95%;
}

/*.modal-body {*/
.body_modal{
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
    
.tb-maxalto{
  max-height: 400px;
  overflow: auto;
}

/*botones datatable*/

.buttons-excel,.buttons-pdf{
  height: 35px !important;
  background: #388e3c !important;
  color: white !important;
}

.llave_info_td{
    text-align: end;
    font-weight: 700;
}

/*botones acciones*/
.stilo_acciones{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.texto_center{
    text-align: center;
}

.form_sibica input, .form_sibica select, .form_sibica textarea {
  margin: 3px;
}